html{
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
}

header{
    display: block;
    position: relative;
    z-index: 1;
}

h3{
    display: block;
    position: absolute;
    z-index: 1;
    top: 3.2vh;
    left: 2vw;
    font-family: "Barriecito",sans-serif;
    color: black;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.HOME{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 15vw;
}

.ABOUT{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 9vw;
}

.WORK{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 3vw;
}

img{
    display: block;
    position: relative;
    -webkit-filter: invert(1);
    
}

.pinterest{
    display: block;
    position: relative;
    float: left;
    left: 10vw;
    top: 25vh;
    width: 20vw;
    height: 45vh;
}

.insta{
    display: block;
    position: relative;
    float: right;
    top: 30vh;
    right: 10vw;
    width: 15vw;
    height: 35vh;
}

.linkedin{
    display: block;
    position: relative;
    float: right;
    right: 23vw;
    top: 25vh;
    width: 20vw;
    height: 45vh;
}

.name {
  position: absolute;
  font-size: 10vw;
  cursor: default;
  color: white;
  z-index: -1;
  -webkit-user-select: none;
  user-select: none;
  mix-blend-mode: difference;
}