html{
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
}

header{
    display: block;
    position: relative;
    z-index: 1;
}

h3{
    display: block;
    position: absolute;
    z-index: 1;
    top: 3.2vh;
    left: 2vw;
    font-family: "Barriecito",sans-serif;
    color: black;
}

a{
  text-decoration: none;
  font-weight: bold;
  -webkit-text-fill-color: rgb(220, 43, 226);
}

.HOME{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 15vw;
}

.ABOUT{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 10vw;
}

.WORK{
    display: block;
    position: absolute;
    float: right;
    top: 5vh;
    right: 5vw;
}

img{
    display: block;
    position: relative;
    -webkit-filter: invert(1);
    width: 20vw;
    height: 45vh;
}

.pinterest{
    display: block;
    position: relative;
    float: left;
    left: 20vw;
}

.insta{
    display: block;
    position: relative;
    float: right;
    top: 15vh;
    right: 5vw;
}

.behance{
    display: block;
    position: relative;
    float: left;
    left: 30vw;
    top: 30vh;
}

.linkedin{
    display: block;
    position: relative;
    float: right;
    right: 30vw;
    top: 50vh;
}

.name {
  position: absolute;
  font-size: 10vw;
  cursor: default;
  color: rgb(151, 200, 238);
  z-index: -1;
}