html{
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
}

h1{
    display: block;
    position: absolute;
    font-family: "Barriecito", sans-serif;
    font-size: 20vh;
    left: 20vw;
    top: 20vh;
}

a{
    text-decoration: none;
    color: rgb(208, 90, 153);
}

.ABOUT{
    display: block;
    position: absolute;
    top: 5vh;
    left: 10vw;
}

.WORK{
    display: block;
    position: absolute;
    top: 5vh;
    left: 20vw;
}

.CONTACT{
    display: block;
    position: absolute;
    top: 5vh;
    left: 30vw;
}

button {
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   button:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }

