  body {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
    margin: 0;
  }

  header{
    display: block;
    position: absolute;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    z-index: 100;
  }

  .ABOUT {
    display: block;
    position: fixed;
    top: 5vh;
    right: 15vw;
    background-color: black;
  }

  .WORK {
    display: block;
    position: fixed;
    top: 5vh;
    right: 10vw;
    background-color: black;
  }

  .draggable {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    z-index: -100;
  }

@media screen and (max-width: 780px) {

  html {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    z-index: 1;
  }

  .ABOUT {
    top: 5vh;
    right: 20vw;
  }

  .WORK {
    top: 5vh;
    right: 5vw;
  }

  .draggable {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    z-index: -1;
  }

}