@media screen and (min-width: 780px) {

    html {
        width: 100%;
        background-color: black;
        color: white;
        font-family: "Roboto flex", sans-serif;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    header {
        display: block;
        position: relative;
    }

    h3 {
        display: block;
        position: absolute;
        z-index: 1;
        top: 3.2vh;
        left: 2vw;
        font-family: "Barriecito", sans-serif;
        color: black;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        z-index: 1;
    }

    .HOME {
        display: block;
        position: fixed;
        float: right;
        top: 5vh;
        right: 16vw;
    }

    .ABOUT {
        display: block;
        position: fixed;
        float: right;
        top: 5vh;
        right: 10vw;
    }

    .work {
        position: absolute;
        font-size: 10vw;
        -webkit-user-select: none;
        user-select: none;
        mix-blend-mode: difference;
        z-index: -1;
    }

    img {
        display: block;
        position: absolute;
        z-index: 1;
        width: 35%;
        height: 40%;
        filter: saturate(0);
    }

    .img1 {
        top: 25vh;
        left: 30vw;
    }

    .img2 {
        top: 70vh;
        left: 30vw;
    }

    .img3 {
        top: 115vh;
        left: 30vw;
    }

}

@media screen and (max-width: 780px) {

    html {
        width: 100%;
        background-color: black;
        color: white;
        font-family: "Roboto flex", sans-serif;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    header {
        display: block;
        position: relative;
    }

    h3 {
        display: block;
        position: absolute;
        z-index: 1;
        top: 3.2vh;
        left: 2vw;
        font-family: "Barriecito", sans-serif;
        color: black;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        z-index: 1;
    }

    .HOME {
        display: block;
        position: fixed;
        float: right;
        top: 5vh;
        right: 16vw;
    }

    .ABOUT {
        display: block;
        position: fixed;
        float: right;
        top: 5vh;
        right: 10vw;
    }

    .work {
        position: absolute;
        font-size: 10vw;
        -webkit-user-select: none;
        user-select: none;
        mix-blend-mode: difference;
        z-index: -1;
    }

    img {
        display: block;
        position: absolute;
        z-index: 1;
        width: 35%;
        height: 40%;
        filter: saturate(0);
    }
}