html{
    width: 100vw;
    overflow: hidden;
    font-family: "Roboto Flex", sans-serif;
}

header{
    display: block;
    position: relative;
}

h4{
    display: block;
    position: absolute;
    left: 2vw;
    font-family: "Barriecito",sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.ABOUT{
    display: block;
    position: absolute;
    top: 5vh;
    left: 45vw;
}

.CONTACT{
    display: block;
    position: absolute;
    top: 5vh;
    right: 10vw;
}